# Lab 03 - pandas I

Name: Andrew Hawk  
Class: CSCI 349 - Intro to Data Mining  
Semester: 2020SP  
Instructor: Brain King

In [1]:
import sys
import numpy as np
import pandas as pd

### 1. Report the Python, Numpy and Pandas version numbers.

In [2]:
print(sys.version)
print(np.__version__)
print(pd.__version__)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
1.18.1
0.25.3

### 2. Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [3]:
# Ref: https://stackoverflow.com/questions/20612645/how-to-find-the-installed-pandas-version
pd.show_versions() # shows a list of all pandas dependencies and their corresponding versions

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 0.25.3
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 44.0.0.post20200106
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.10.3
IPython          : 7.11.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : None
matplotlib       : 3.1.2
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : None
tables           : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None

### 3. Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

Pandas adopts significant parts of NumPy's idiomatic style of array-based computing. The biggest difference between the two is that pandas is designed for working with tabular or heterogeneous data. NumPy is best suited to work with homogenous numerical array data. Pandas adds the functionality of organizing data into a 2d table object called a Dataframe.

### 4) [M] Compare and contrast Series and DataFrame.

Series is a 1D labeled array capable of holding any data type. A DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or a SQL table. DataFrames also accept many different kinds of input.

### 5) [M] What are the data types that can be used to create a Series object in pandas?

The following data types can be used to create a Series object in pandas: ndarray, dict, primitive datatypes (such as a scaler).

### 6) [M] What are the data structures that can be used to create a DataFrame object in pandas?

The following data types can be used to create a DataFrame object in pandas: Dict of 1D ndarrays or lists or dicts or Series, 2D numpy.ndarray, structured or record ndarray, a series, another dataframe.

### 7) [M] In the user guide, when creating a Series, the What role does the index parameter play when creating a Series object? Does the index always need to be specified? If not, what happens?

The index represents the axis labels of the Series. The index does not always need to be specified. If the index is not specified, the axis labels will simply be numbered starting at zero and increasing by 1 for each index of data (for a list input). For a dictionary input, the index will be orderd by the dict's insertion order.

### 8) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [4]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

week_1 = pd.Series(scores_1, index=days)
week_2 = pd.Series(scores_2, index=days)

### 9) [P] Create a pandas DataFrame called scores, that represents the above data. Show your data frame. Your results should be arranged as shown below. You don't have the right answer until you can have the last line of your data from be scores, with a nicely formatted data frame rendered in your notebook.

In [5]:
scores = pd.DataFrame([week_1,week_2], index = ['week 1', 'week 2'], columns=days)
display(scores)

        Mon   Tue   Wed    Thu   Fri
week 1  9.5  8.75   8.0  10.00  7.75
week 2  9.0  8.00  10.0   8.75  7.25

### 10) Append the following data to the end of scores. [8.5,8,9.75,9,6]. The row label on the new week is "week_3". Show your updated data frame.

In [6]:
# Ref: https://stackoverflow.com/questions/16824607/pandas-appending-a-row-to-a-dataframe-and-specify-its-index-label
# ^ had to use this to figure out how to set label name to "week 3"
scores = scores.append(pd.Series([8.5,8,9.75,9,6], index=days, name = "week 3"))
display(scores)

        Mon   Tue    Wed    Thu   Fri
week 1  9.5  8.75   8.00  10.00  7.75
week 2  9.0  8.00  10.00   8.75  7.25
week 3  8.5  8.00   9.75   9.00  6.00

### 11) [M] numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.). Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.

.at - access a single value for a row/column label pair: df.at[rowLabel,colLabel]

.iat - access a single value for a row/column pair by integer position: df.iat[rowNum, colNum]

.loc - access a group of rows and columns by label(s) or a boolean array: df.loc[:, ['A', 'B']] (all rows & cols A,B)

.iloc - access a group of rowsa and columns by integer positions or boolean array: df.iloc[:, 1:3]

### 12) [P] Show at least two different techniques to select scores for Tuesday using the string "Tue"

In [7]:
display(scores.loc[:,"Tue"])
display(scores["Tue"])

week 1    8.75
week 2    8.00
week 3    8.00
Name: Tue, dtype: float64

week 1    8.75
week 2    8.00
week 3    8.00
Name: Tue, dtype: float64

### 13) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [8]:
display(scores.Tue)

week 1    8.75
week 2    8.00
week 3    8.00
Name: Tue, dtype: float64

### 14) [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [9]:
display(scores.iloc[:,2]) # returns a series
display(scores.iloc[[0,1,2], [2]]) # returns a dataframe
display(scores[days[2]]) # returns a series

week 1     8.00
week 2    10.00
week 3     9.75
Name: Wed, dtype: float64

          Wed
week 1   8.00
week 2  10.00
week 3   9.75

week 1     8.00
week 2    10.00
week 3     9.75
Name: Wed, dtype: float64

### 15) [P] Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [10]:
display(scores.loc["week 1"])

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week 1, dtype: float64

### 16) [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [11]:
display(scores.loc[["week 1"]])

        Mon   Tue  Wed   Thu   Fri
week 1  9.5  8.75  8.0  10.0  7.75

### 17) [P] Select the data for the first week using a slice (HINT: 0:1)

In [12]:
display(scores[0:1])

        Mon   Tue  Wed   Thu   Fri
week 1  9.5  8.75  8.0  10.0  7.75

### 18) [P] Show at least two techniques to select the data for the second week using an integer

In [13]:
display(scores[1:2])
display(scores.iloc[2,:])

        Mon  Tue   Wed   Thu   Fri
week 2  9.0  8.0  10.0  8.75  7.25

Mon    8.50
Tue    8.00
Wed    9.75
Thu    9.00
Fri    6.00
Name: week 3, dtype: float64

### 19) [P] Select Monday and Friday of the first and third week.

In [79]:
scores.iloc[[0,2], [0,4]]

        Mon   Fri
week 1  9.5  7.75
week 3  8.5  6.00

### 20) [P] Report the mean for each week

In [80]:
scores.mean(1)

week 1    8.80
week 2    8.60
week 3    8.25
dtype: float64

### 21) [P] For each week, report how much each day's score for that week differed from the mean for the week

In [82]:
scores.sub(scores.mean(axis=1),axis=0)

         Mon   Tue  Wed   Thu   Fri
week 1  0.70 -0.05 -0.8  1.20 -1.05
week 2  0.40 -0.60  1.4  0.15 -1.35
week 3  0.25 -0.25  1.5  0.75 -2.25

### 22) [P] Report the maximum score for each week

In [81]:
scores.max(1)

week 1    10.00
week 2    10.00
week 3     9.75
dtype: float64

### 23) [P] For each week, report which day had the largest score

In [83]:
scores.idxmax(axis = 1, skipna=True)

week 1    Thu
week 2    Wed
week 3    Wed
dtype: object

### 24) [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [84]:
scores.sum(axis=1).idxmax()

'week 1'

### 25) [P] Report the number of days of each week that had a score >= 9.25.

In [93]:
scores[scores>=9.25].count(axis=1)

week 1    2
week 2    1
week 3    1
dtype: int64

### 26) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [94]:
scores*10

         Mon   Tue    Wed    Thu   Fri
week 1  95.0  87.5   80.0  100.0  77.5
week 2  90.0  80.0  100.0   87.5  72.5
week 3  85.0  80.0   97.5   90.0  60.0