# Lab 02 - numpy

Name: Andrew Hawk  
Class: CSCI 349 - Intro to Data Mining  
Semester: 2020SP  
Instructor: Brain King

In [1]:
# Setting things up
import sys
import numpy as np

### 1. Create an 52500 x 75 matrix of zeros, stored as X. Then, print out the shape of the matrix, the base data type, the individual item size in the array, and the total size of the array in bytes (as an integer). Also, print out the total size in megabytes with 3 places of significance.

In [28]:
X = np.zeros((52500,75))
print("Shape:", X.shape)
print("Base data type:", X.dtype)
print("Individual item size:", X.itemsize)
print("Total size in bytes:", X.size*X.itemsize)
print("Total size in megabytes:{:.3f}".format((X.size*X.itemsize)/1000000))

Shape: (52500, 75)
Base data type: float64
Individual item size: 8
Total size in bytes: 31500000
Total size in megabytes:31.500

### 2. Resize X to have the same number of elements, but with 100 rows. Show the shape. Show the number of bytes (which should be the same as the previous answer)

In [29]:
X = X.reshape(100,-1) # -1 means that row dimension is automatically calculated
print("Shape:", X.shape)
print("Total size in bytes:", X.size*X.itemsize)

Shape: (100, 39375)
Total size in bytes: 31500000

### 3. Redo #1, but use a base datatype of 16-bit integers.

In [30]:
X = np.zeros((52500,75), dtype=np.int16)
print("Shape:", X.shape)
print("Base data type:", X.dtype)
print("Individual item size:", X.itemsize)
print("Total size in bytes:", X.size*X.itemsize)
print("Total size in megabytes:{:.3f}".format((X.size*X.itemsize)/1000000))

Shape: (52500, 75)
Base data type: int16
Individual item size: 2
Total size in bytes: 7875000
Total size in megabytes:7.875

### 4. How many dimensions does X have? Answer using the appropriate property of np.ndarray objects.

In [31]:
print("Number of dimensions:", X.ndim)

Number of dimensions: 2

### 5. Enter the following list in your cell: 
### str_nums = ['2.14', '-9.3', '42']
### Convert this to a numpy array named X. What is the base type? Show the contents of X. Then, convert X to an array of single precision floating point numbers. (HINT: use astype). Show X again.

In [41]:
str_nums = ['2.14', '-9.3', '42']
X = np.array(str_nums)
print("Base data type:", X.dtype)
print("Contents:", X)
X = X.astype(np.float32)
print("Contents:", X)

Base data type: <U4
Contents: ['2.14' '-9.3' '42']
Contents: [ 2.14 -9.3  42.  ]

### Let's assume you have two week's worth of quiz scores. Quizzes are out of 10 points, and are given every day. Enter the following in your cell:
### days = ["Mon","Tue","Wed","Thu","Fri"] <br/> scores_1 = [9.5, 8.75, 8, 10, 7.75] <br/>scores_2 = [9, 8, 10, 8.75, 7.25]

### 6. Copy the three definitions above for days, scores_1, and scores_2. Create a numpy array called scores, that has scores_1 as the first row and scores_2 as the second row, using np.concatenate. Then, change days into a np.array from the list days. Show the contents of scores and days, and output their shape. NOT DONE YET!!!!!!!!!!!!!!!!!

In [176]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

scores = np.concatenate((np.array(scores_1),np.array(scores_2)))
print("Scores: ",scores)
print("Scores shape:", scores.shape)
days = np.array(days)
print("Days:",days)
print("Days shape:", days.shape)

Scores:  [ 9.5   8.75  8.   10.    7.75  9.    8.   10.    8.75  7.25]
Scores shape: (10,)
Days: ['Mon' 'Tue' 'Wed' 'Thu' 'Fri']
Days shape: (5,)

### 7. Repeat the previous problem with the creation of scores from scores_1 and scores_2, but repeat it with np.vstack. The array should be identical.

In [177]:
scores = np.vstack((scores_1, scores_2))
print("Scores:")
print(scores)

Scores:
[[ 9.5   8.75  8.   10.    7.75]
 [ 9.    8.   10.    8.75  7.25]]

### 8. Compare the result of the expression days == "Fri" if the variable days was a Python list as entered above, vs. days being a numpy array. What is the difference in the result? In general, how does numpy deal with standard comparison operators? NOT DONE YET!!!!!!!!!!!!!!!!!

### 9. Select the scores that fell on Monday.

In [178]:
scores[:, days == "Mon"]

array([[9.5],
       [9. ]])

### 10. Select all of the scores that are NOT on Monday (Hint – look up the ~ operator)

In [79]:
scores[:, ~(days == "Mon")]

array([[ 8.75,  8.  , 10.  ,  7.75],
       [ 8.  , 10.  ,  8.75,  7.25]])

### 11. Select the scores that were on Tuesday or Thursday

In [156]:
# Reference: https://stackoverflow.com/questions/10062954/valueerror-the-truth-value-of-an-array-with-more-than-one-element-is-ambiguous
scores[:, (days == "Tue") | (days == "Thu")]

array([[ 8.75, 10.  ],
       [ 8.  ,  8.75]])

### 12. Show the minimum and maximum scores for the entire array of scores

In [124]:
print("Min:",np.min(scores))
print("Max:",np.max(scores))

Min: 7.25
Max: 10.0

### 13. Show the minimum scores for each week as a new array. The result should have the same dimensions (hint– use the keepdims parameter).

In [180]:
#np.min(scores, keepdims=True)
#scores[:, np.argmin(scores, keepdims=True) ]
#np.argmin()
np.amin(scores, axis=1, keepdims=True)

array([[7.75],
       [7.25]])

### 14. Report the day that the maximum score occurred each week. (HINT: use argmax and use that result to index days.)

In [190]:
maxDays = np.argmax(scores, axis=1)
print("Max score of first week occured on a", days[maxDays[0]])
print("Max score of second week occured on a", days[maxDays[1]])

Max score of first week occured on a Thu
Max score of second week occured on a Wed

### 15. Report the mean of the scores of each week

In [192]:
np.mean(scores, axis = 1)

array([8.8, 8.6])

### 16. Suppose the lowest score was dropped from each week. Report the mean of each week, but without the minimum score for that week.

In [199]:
np.mean(np.delete(scores, np.argmin(scores,axis=1), axis = 1), axis = 1)

array([9.0625, 8.9375])

### 17. Convert the scores to fall on a scale from 0-100 instead of 0-10. Show the result.

In [202]:
np.multiply(scores,10)

array([[ 95. ,  87.5,  80. , 100. ,  77.5],
       [ 90. ,  80. , 100. ,  87.5,  72.5]])

In [203]:
np.random.seed(1234)
X = np.random.randint(1,100,50).reshape((10,5))
X

array([[48, 84, 39, 54, 77],
       [25, 16, 50, 24, 27],
       [31, 44, 31, 27, 59],
       [93, 70, 81, 74, 48],
       [51, 77, 38, 35, 39],
       [68, 12,  1, 76, 81],
       [ 4,  3, 20, 13, 66],
       [76, 82, 15, 72, 61],
       [47, 29, 82, 88, 14],
       [97, 13, 70, 96, 32]])

### 18. Select the first row of X

In [204]:
X[0]

array([48, 84, 39, 54, 77])

### 19. Select the last column of X

In [207]:
X[:, 4]

array([77, 27, 59, 48, 39, 81, 66, 61, 14, 32])

### 20. Select the first AND last column of X

In [210]:
X[:, [0,4]]

array([[48, 77],
       [25, 27],
       [31, 59],
       [93, 48],
       [51, 39],
       [68, 81],
       [ 4, 66],
       [76, 61],
       [47, 14],
       [97, 32]])

### 21. Select every other row of X

In [ ]:
dfdf