# Lab 06 - Data preprocessing I

Name: Andrew Hawk  
Class: CSCI 349 - Intro to Data Mining  
Semester: 2020SP  
Instructor: Brain King  
Time ~4.5 hours

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1) [P] Use pandas to read in your CSV data file you downloaded above, which you should have placed in your data directory. Call the data frame df_temps. Read in the entire dataset, however, peek at the dataset first. You'll notice 16 rows of metadata. Ignore the first 16 rows (HINT: Use the skiprows= option!)

In [41]:
df_temps = pd.read_csv("../data/faa_hourly-KIPT_20000101-20191231_raw.csv", skiprows=16)
df_temps.head()

,Date/Time (GMT),Number of Observations (n/a),Average Temp (F),Max Temp (F),Min Temp (F),Average Dewpoint Temp (F),1 Hour Precip (in),Max Wind Gust (mph),Average Relative Humidity (%),Average Wind Speed (mph),Average Station Pressure (mb),Average Wind Direction (deg),Max Wind Speed (mph),Unnamed: 13
0,2000-01-01 00:00:00,1,26.10,26.10,26.10,14.00,NaN,20.70,59.00,17.30,1015.2,280.00,17.30,NaN
1,2000-01-01 01:00:00,1,26.10,26.10,26.10,14.00,NaN,NaN,59.00,16.10,1015.9,280.00,16.10,NaN
2,2000-01-01 02:00:00,1,26.10,26.10,26.10,15.10,NaN,NaN,62.00,15.00,1016.3,280.00,15.00,NaN
3,2000-01-01 03:00:00,1,26.10,26.10,26.10,12.00,NaN,NaN,54.00,16.10,1016.6,270.00,16.10,NaN
4,2000-01-01 04:00:00,1,26.10,26.10,26.10,14.00,NaN,NaN,59.00,12.70,1017.3,280.00,12.70,NaN

### 2) Report the general structure of the data frame using df_temps.info(). You should notice that almost every variable was read in as a plan object data type. You have a lot of work to do!

In [42]:
df_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181914 entries, 0 to 181913
Data columns (total 14 columns):
Date/Time (GMT)                  181914 non-null object
Number of Observations (n/a)     181914 non-null object
Average Temp (F)                 180915 non-null object
Max Temp (F)                     180915 non-null object
Min Temp (F)                     180915 non-null object
Average Dewpoint Temp (F)        180809 non-null object
1 Hour Precip (in)               37596 non-null object
Max Wind Gust (mph)              32206 non-null object
Average Relative Humidity (%)    177416 non-null object
Average Wind Speed (mph)         181372 non-null object
Average Station Pressure (mb)    181636 non-null object
Average Wind Direction (deg)     149252 non-null object
Max Wind Speed (mph)             181372 non-null object
Unnamed: 13                      0 non-null float64
dtypes: float64(1), object(13)
memory usage: 19.4+ MB

### 3) [P] Read about the memory_usage() method of pandas data frames. Then, report the total memory in bytes for each variable of df_temps. Set the parameter deep=True, to get the most accurate assessment of your total memory usage. (NOTE – this could take a bit of time to return an answer.)

In [43]:
df_temps.memory_usage(deep=True)

Index                                 128
Date/Time (GMT)                  13790816
Number of Observations (n/a)     11477885
Average Temp (F)                 11342670
Max Temp (F)                     11308038
Min Temp (F)                     11308017
Average Dewpoint Temp (F)        11411051
1 Hour Precip (in)                7032800
Max Wind Gust (mph)               6907372
Average Relative Humidity (%)    11354487
Average Wind Speed (mph)         11291210
Average Station Pressure (mb)    11647992
Average Wind Direction (deg)     10569351
Max Wind Speed (mph)             11259415
Unnamed: 13                       1455312
dtype: int64

### 4) [P] Report the total memory required for the data frame in MB. (Just sum the previous answer.) You should get an answer showing over a hundred megabytes! Also, store the total as a variable called original_memory. We're going to compare memory after we're done.

In [44]:
original_memory = df_temps.memory_usage(deep=True).sum()/1000000 #megabytes
original_memory

142.156544

### 5) [P] Remember those extra column header lines that appeared throughout the entire CSV file? You need to get rid of those. Write the code to eliminated those from df_temps. (This is tricky. Think about it... you are selecting the data that does NOT have columns[0] as the first value in the observation!) HINT – At this point, you should have 173252 observations.

In [45]:
remove_name = df_temps.columns[0] # 'Date/Time (GMT)'
df_temps = df_temps[df_temps.iloc[:,0] != remove_name]
df_temps.shape[0] # observations

173252

### 6) [M-P] Examine the last entry of your index (i.e. df_temps.index[-1]). Then, show the number of observations in df_temps. These are unequal. Why?

These are unequal since the index of df_temps has not been reset. 181913 is the amount of observations before the deletion of rows in the previous problem.

In [46]:
display(df_temps.index[-1])
df_temps.shape[0]

181913

173252

### 7) When you permanently delete observations, it's usually a good idea to reset your index, especially if the index is nothing more than a unique number to each observations. Reindex your data, and show that the new index is indeed reset. (There are many ways to do this. I suggest using reset_index(). There is no need to retain the original index, so drop=True is fine.)

In [47]:
df_temps = df_temps.reset_index(drop=True)
df_temps.index[-1]

173251

### 8) You have a rather annoying extra column that was read in in the last column position. (Look closely at the output of `describe()` above!) You should always confirm that it's garbage before deleting it. Write the single line of code that reports the count of valid values in the last column (HINT: count())

In [48]:
print("Valid values in last column: {}".format(df_temps.iloc[:,13].count()))

Valid values in last column: 0

### 9) Drop that last column from df_temps.

In [49]:
df_temps = df_temps.iloc[:,:13]

### 10) [P] Convert all numeric data to actual numeric data types. You'll need to look up how to do this. (HINT: pd.to_numeric() is your friend.) Leave the NaN fields alone! The fact that they are missing is IMPORTANT! And, leave the date/time variable in the first column alone. You should output the shape of your data, and show info() to show every variable is a floating point number except the date/time field in the first column, which should still be of type object.

In [50]:
# Ref: https://stackoverflow.com/questions/34844711/convert-entire-pandas-dataframe-to-integers-in-pandas-0-17-0

df_temps = df_temps.apply(pd.to_numeric, errors="ignore")
df_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173252 entries, 0 to 173251
Data columns (total 13 columns):
Date/Time (GMT)                  173252 non-null object
Number of Observations (n/a)     173252 non-null int64
Average Temp (F)                 172253 non-null float64
Max Temp (F)                     172253 non-null float64
Min Temp (F)                     172253 non-null float64
Average Dewpoint Temp (F)        172147 non-null float64
1 Hour Precip (in)               28934 non-null float64
Max Wind Gust (mph)              23544 non-null float64
Average Relative Humidity (%)    168754 non-null float64
Average Wind Speed (mph)         172710 non-null float64
Average Station Pressure (mb)    172974 non-null float64
Average Wind Direction (deg)     140590 non-null float64
Max Wind Speed (mph)             172710 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 17.2+ MB

### 11) [P] How much did our memory footprint improve? (Show the total memory usage using deep=True). Report the total memory usage in MB, and report the percentage improvement.

In [51]:
improved_memory = df_temps.memory_usage(deep=True).sum()/1000000 #megabytes
print("Total memory usage: {} MB".format(improved_memory))
print("Percentage Improvement: {:.2f}%".format(100*(original_memory-improved_memory)/original_memory))

Total memory usage: 29.799472 MB
Percentage Improvement: 79.04%

### 12) [P] Did you notice that to_numeric() has a parameter called downcast? Go back and read about this parameter. By default, most of the time your integer types will be converted to a 64-bit integer, and floating point types will use double precision numbers. You can do far better. Downcast your types accordingly. Report your latest memory usage in MB.

In [52]:
# The order of downcast does not matter. downcast="float" only applies to floats and ignores integers.
df_temps = df_temps.apply(pd.to_numeric, errors="ignore", downcast="float")
df_temps = df_temps.apply(pd.to_numeric, errors="ignore", downcast="integer")
print("Memory usage: {} MB".format(df_temps.memory_usage(deep=True).sum()/1000000))

Memory usage: 20.96362 MB

### 13) At this point, with the exception of the date column, you should have good data to start working with. Verify it by outputting the results of describe(). Every variable should have its basic stats reported!

In [53]:
df_temps.describe()

,Number of Observations (n/a),Average Temp (F),Max Temp (F),Min Temp (F),Average Dewpoint Temp (F),1 Hour Precip (in),Max Wind Gust (mph),Average Relative Humidity (%),Average Wind Speed (mph),Average Station Pressure (mb),Average Wind Direction (deg),Max Wind Speed (mph)
count,173252.000000,172253.000000,172253.000000,172253.000000,172147.000000,28934.000000,23544.000000,168754.000000,172710.000000,172974.000000,140590.000000,172710.000000
mean,1.339915,51.286217,51.399208,51.179626,40.253628,0.030566,22.295341,68.819511,5.904806,1016.741272,176.806366,6.175715
std,0.854852,18.888988,18.907930,18.881851,19.053423,0.079247,7.581788,19.694031,5.192565,7.640043,118.790619,5.311181
min,0.000000,-11.900000,-11.900000,-11.900000,-20.900000,0.000000,0.000000,0.000000,0.000000,508.600006,0.000000,0.000000
25%,1.000000,36.000000,36.000000,36.000000,25.830000,0.000000,19.600000,54.000000,0.000000,1012.200012,70.000000,0.000000
50%,1.000000,52.000000,52.000000,51.799999,41.000000,0.000000,21.900000,71.000000,5.370000,1016.900024,220.000000,5.800000
75%,1.000000,66.900002,66.900002,66.900002,57.000000,0.030000,26.500000,86.000000,9.200000,1021.700012,280.000000,9.200000
max,10.000000,102.000000,102.000000,102.000000,79.000000,2.350000,88.599998,100.000000,76.000000,1044.400024,360.000000,76.000000

### 14) [M] There are four primary classes in pandas for working with dates and times? Consider the Scalar Class for each, and state what concept each is representing.

**Class ------> Scalar**  
Date times ---> Timestamp  
Time deltas --> Timedelta  
Time spans ---> Period      
Date Offsets -> DateOffset     

**Timestamp**: The most basic type of time series data that associates values with points in time. Consists of a date and a time.  

**Timedelta**: Time delta allows us to compute date/time arithmetic. A Timedelta attribute represents the difference between two dates or times.

**Period**: Represents a span of time. Stores a list of dates/times. The frequency of a period can be adjusted using the 'freq' keyword.  

**DateOffset**: Frequency strings used in periods map to a DateOffset object and its subclasses. Represents a duration of time but follows specific calendar duration rules. The basic DateOffset shifts a date time by the corresponding calendar duration specified. DateOffset subclasses that are an hour or smaller behave like Timedelta and respect absolute time.

### 15) [M] For each above, state the primary creation method used to create each type of data

**Timestamp**: to_datetime or date_range  
**Timedelta**: to_timedelta or timedelta_range  
**Period**: Period or period_range  
**DateOffset**: DateOffset

### 16) [P] Create a Timestamp object from the string "07/04/19", which is a date representing July 4, 2019. Store the object as d1 and show it.

In [54]:
d1 = pd.to_datetime("07/04/19")
d1

Timestamp('2019-07-04 00:00:00')

### 17) [P] Using d1 and string formatting codes, print the string from d1:  

"Today's date is Thursday, July 4, 2019".

In [55]:
#Ref: https://www.programiz.com/python-programming/datetime/strftime

d1.strftime("Today's date is %B %d, %Y")

"Today's date is July 04, 2019"

### 18) [P] Create another Timestamp object representing Sept 7, 2019 at 3pm, called d2. Report it

In [56]:
d2 = pd.to_datetime("09/7/19 3pm")
d2

Timestamp('2019-09-07 15:00:00')

### 19) [P] Subtract d2 – d1, and report the difference as the number of days and seconds between these two. Also report the difference as total seconds. (NOTE: The difference should be 65 days, 54000 seconds. Or 5670000 total seconds.)

In [57]:
# Ref: https://docs.python.org/2/library/datetime.html
print("Days: {}".format((d2-d1).days))
print("Seconds: {}".format((d2-d1).seconds))

Days: 65
Seconds: 54000

### 20) [P] Create a new Timestamp object from the string "2019-07-01 08:30pm", but, localize the time stamp to represent the time in the US Eastern Time Zone. Store the result as d3 and output it.

In [58]:
d3 = pd.to_datetime("2019-07-01 8:30pm ").tz_localize("US/Eastern")
d3

Timestamp('2019-07-01 20:30:00-0400', tz='US/Eastern')

### 21) [P] Show time represented by d3, but converted to the US / Pacific Time Zone. The time reported should be three hours earlier than EST shown in the previous question.

In [59]:
d3.tz_convert("US/Pacific")

Timestamp('2019-07-01 17:30:00-0700', tz='US/Pacific')

### 22) [P] Create a Timestamp object representing right now, stored as ts_now. Show the result.

In [60]:
ts_now = pd.to_datetime('now')
ts_now

Timestamp('2020-02-03 04:50:16.338295')

### 23) [P] Create a Timedelta object representing 1 hour, stored as td_hour. Show the result.

In [61]:
td_hour = pd.Timedelta(hours=1)
td_hour

Timedelta('0 days 01:00:00')

### 24) [P] Demonstrate how you can do basic mathematical operations by adding 6 hours to ts_now using td_hour and basic math operations. (i.e. No loops or further calculations necessary!)

In [62]:
display(ts_now)
display(ts_now+6*td_hour)

Timestamp('2020-02-03 04:50:16.338295')

Timestamp('2020-02-03 10:50:16.338295')

### 25) [P] Create a DatetimeIndex object that represents every hour during the month of January, 2019. The first index should be midnight, January 1, 2020, and the last index should be January 31, 2020 at 11pm. Store the object as dr. (HINT – use the pd.date_range() method!)

In [63]:
# Ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html
dr = pd.date_range(start="2020", end="12-31-2020 23:00:00", freq="H")
dr

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               ...
               '2020-12-31 14:00:00', '2020-12-31 15:00:00',
               '2020-12-31 16:00:00', '2020-12-31 17:00:00',
               '2020-12-31 18:00:00', '2020-12-31 19:00:00',
               '2020-12-31 20:00:00', '2020-12-31 21:00:00',
               '2020-12-31 22:00:00', '2020-12-31 23:00:00'],
              dtype='datetime64[ns]', length=8784, freq='H')

### 26) [P] The first variable in our data is currently an object. But, notice the name and its units? It's a date/time in the GMT time zone! Convert the first column of data into an actual time stamp.

In [64]:
df_temps.iloc[:,0] = pd.to_datetime(df_temps.iloc[:,0])

### 27) [P] Confirm that your first column data type is now a timestamp by showing the output of df_temps.info(). (It should show that it is datetime64, to be exact) . Then, show the values of the first column of the first AND last row only.

In [65]:
df_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173252 entries, 0 to 173251
Data columns (total 13 columns):
Date/Time (GMT)                  173252 non-null datetime64[ns]
Number of Observations (n/a)     173252 non-null int8
Average Temp (F)                 172253 non-null float32
Max Temp (F)                     172253 non-null float32
Min Temp (F)                     172253 non-null float32
Average Dewpoint Temp (F)        172147 non-null float32
1 Hour Precip (in)               28934 non-null float32
Max Wind Gust (mph)              23544 non-null float32
Average Relative Humidity (%)    168754 non-null float32
Average Wind Speed (mph)         172710 non-null float32
Average Station Pressure (mb)    172974 non-null float32
Average Wind Direction (deg)     140590 non-null float32
Max Wind Speed (mph)             172710 non-null float32
dtypes: datetime64[ns](1), float32(11), int8(1)
memory usage: 8.8 MB

### 28) Finally, let's move that first column to be the new index for your dataframe. Use the set_index method of df_temps to be the first column of data, then use the drop method to eliminate the first column. It is now your index, and thus there is no need to keep this information twice.

In [66]:
df_temps = df_temps.set_index("Date/Time (GMT)", drop=True)
df_temps

,Number of Observations (n/a),Average Temp (F),Max Temp (F),Min Temp (F),Average Dewpoint Temp (F),1 Hour Precip (in),Max Wind Gust (mph),Average Relative Humidity (%),Average Wind Speed (mph),Average Station Pressure (mb),Average Wind Direction (deg),Max Wind Speed (mph)
Date/Time (GMT),,,,,,,,,,,,
2000-01-01 00:00:00,1,26.100000,26.100000,26.100000,14.000000,NaN,20.700001,59.000000,17.299999,1015.200012,280.000000,17.299999
2000-01-01 01:00:00,1,26.100000,26.100000,26.100000,14.000000,NaN,NaN,59.000000,16.100000,1015.900024,280.000000,16.100000
2000-01-01 02:00:00,1,26.100000,26.100000,26.100000,15.100000,NaN,NaN,62.000000,15.000000,1016.299988,280.000000,15.000000
2000-01-01 03:00:00,1,26.100000,26.100000,26.100000,12.000000,NaN,NaN,54.000000,16.100000,1016.599976,270.000000,16.100000
2000-01-01 04:00:00,1,26.100000,26.100000,26.100000,14.000000,NaN,NaN,59.000000,12.700000,1017.299988,280.000000,12.700000
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,1,42.099998,42.099998,42.099998,30.000000,NaN,21.900000,62.000000,15.000000,1001.700012,260.000000,15.000000
2019-12-31 20:00:00,1,39.900002,39.900002,39.900002,33.099998,0.00,NaN,76.000000,13.800000,1002.700012,240.000000,13.800000
2019-12-31 21:00:00,1,39.900002,39.900002,39.900002,30.000000,0.00,25.299999,67.000000,17.299999,1002.700012,220.000000,17.299999
2019-12-31 22:00:00,3,37.299999,37.900002,37.000000,30.600000,0.01,27.600000,76.330002,16.129999,1003.599976,256.670013,20.700001
2019-12-31 23:00:00,1,36.000000,36.000000,36.000000,28.900000,0.00,NaN,75.000000,12.700000,1004.400024,250.000000,12.700000

### 29) [P] Give one final report on the total memory usage, and also show the % memory reduction made compared to when you first loaded the data.

In [68]:
improved_memory = df_temps.memory_usage(deep=True).sum()/1000000
print("Memory usage: {} MB".format(improved_memory))
print("Percentage Improvement: {:.2f}%".format(100*(original_memory-improved_memory)/original_memory))

Memory usage: 9.182356 MB
Percentage Improvement: 93.54%

### 30) [P] This dataset has missing observations. But, how many? First, calculate how many observations SHOULD be there. Use the difference between the first and last index value to compute this.

In [166]:
#should = (df_temps.index[-1] - df_temps.index[0]).days*24+24 # multiply number of days by 24 hours and add 24 to account for day lost in subtraction
should = pd.date_range(start = df_temps.index[0], end = df_temps.index[-1], freq="H").shape[0]
print("There should be {} observations".format(should))
print("There are {} missing observations".format(should-df_temps.shape[0]))

There should be 175320 observations
There are 2068 missing observations

### 31) [P] There are quite a lot! It's time to investigate. Create a data frame called df_missing that has an index of the time stamp of every missing date, with a simple variable called "missing" that has a value of 1 for every entry. (i.e. it should only contain the missing dates.) Report the number of rows in df_missing. It should match the number you computed previously.

In [169]:
# Ref: https://stackoverflow.com/questions/52044348/check-for-any-missing-dates-in-the-index
missing = pd.date_range(start = df_temps.index[0], end = df_temps.index[-1], freq="H").difference(df_temps.index)
df_missing = pd.DataFrame(index = missing, columns = {"missing"})
df_missing["missing"] = 1
df_missing

                     missing
2000-01-03 18:00:00        1
2000-01-05 17:00:00        1
2000-01-06 20:00:00        1
2000-01-07 14:00:00        1
2000-01-11 20:00:00        1
...                      ...
2019-11-05 19:00:00        1
2019-11-18 04:00:00        1
2019-11-18 05:00:00        1
2019-11-20 04:00:00        1
2019-11-20 05:00:00        1

[2068 rows x 1 columns]

### 32) [P] Let's get a sense of which years seem to be missing the most data. How? Well, the easiest approach is probably to use the resample() method of data frames. Check out this section: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#resampling . This method works phenomenally well for grouping and aggregating your data when you have a datetime index type! We're going to resample our data by year, and perform a count aggregation all in one line: Enter the following: df_missing_by_year = df_missing.resample('Y').count()            There are many, many ways you can resample your data. You need to jump over to the options for dateoffset objects. The letter codes are specified there: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects                                  Show the result of df_missing_by_year

In [170]:
df_missing_by_year = df_missing.resample('Y').count()
df_missing_by_year

            missing
2000-12-31      792
2001-12-31       54
2002-12-31       30
2003-12-31       39
2004-12-31       72
2005-12-31      119
2006-12-31       32
2007-12-31       64
2008-12-31      193
2009-12-31       82
2010-12-31       40
2011-12-31       32
2012-12-31      152
2013-12-31       45
2014-12-31       38
2015-12-31       37
2016-12-31       27
2017-12-31      119
2018-12-31       67
2019-12-31       34

### 33) [P] You can see that pretty much every year has missing data. Not uncommon. However, one year in particular is really bad. Which one? Write the code to eliminate that entire year from df_year.

In [180]:
# Year 2000 has the most missing observations by far
df_temps = df_temps[df_temps.index.year != 2000]
df_temps

,Number of Observations (n/a),Average Temp (F),Max Temp (F),Min Temp (F),Average Dewpoint Temp (F),1 Hour Precip (in),Max Wind Gust (mph),Average Relative Humidity (%),Average Wind Speed (mph),Average Station Pressure (mb),Average Wind Direction (deg),Max Wind Speed (mph)
Date/Time (GMT),,,,,,,,,,,,
2001-01-01 00:00:00,1,21.000000,21.000000,21.000000,6.100000,NaN,NaN,51.000000,12.700000,1019.000000,270.000000,12.700000
2001-01-01 01:00:00,1,19.900000,19.900000,19.900000,7.000000,NaN,NaN,56.000000,10.400000,1019.000000,270.000000,10.400000
2001-01-01 02:00:00,1,19.000000,19.000000,19.000000,7.000000,NaN,NaN,58.000000,16.100000,1019.000000,270.000000,16.100000
2001-01-01 03:00:00,1,19.000000,19.000000,19.000000,7.000000,NaN,NaN,58.000000,15.000000,1018.599976,260.000000,15.000000
2001-01-01 04:00:00,1,19.000000,19.000000,19.000000,6.100000,NaN,NaN,56.000000,16.100000,1018.599976,280.000000,16.100000
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,1,42.099998,42.099998,42.099998,30.000000,NaN,21.900000,62.000000,15.000000,1001.700012,260.000000,15.000000
2019-12-31 20:00:00,1,39.900002,39.900002,39.900002,33.099998,0.00,NaN,76.000000,13.800000,1002.700012,240.000000,13.800000
2019-12-31 21:00:00,1,39.900002,39.900002,39.900002,30.000000,0.00,25.299999,67.000000,17.299999,1002.700012,220.000000,17.299999
2019-12-31 22:00:00,3,37.299999,37.900002,37.000000,30.600000,0.01,27.600000,76.330002,16.129999,1003.599976,256.670013,20.700001
2019-12-31 23:00:00,1,36.000000,36.000000,36.000000,28.900000,0.00,NaN,75.000000,12.700000,1004.400024,250.000000,12.700000